<div class="globalresultado">
    <button type="button" id="boton-recuento" (click)="resultClick()">REALIZAR RECUENTO</button>
    <div class="panelresult">
        <div class="entry">
            <img src="/assets/images/messi.png" alt="">
            <p id="resultname">MESSI</p>
            <p id = "resultvalue">{{resultado1}}</p>
        </div>
        <div class="entry">
            <img src="/assets/images/cristiano.png" alt="">
            <p id="resultname">RONALDO</p>
            <p id = "resultvalue">{{resultado2}}</p>
        </div>
        <div class="entry">
            <img src="/assets/images/lewandowski.png" alt="">
            <p id="resultname">LEWANDOWSKI</p>
            <p id = "resultvalue">{{resultado3}}</p>
            
        </div>
        <div class="entry">
            <img src="/assets/images/jorginho.png" alt="">
            <p id="resultname">JORGINHO</p>
            <p id = "resultvalue">{{resultado4}}</p>
            
        </div>
        <div class="entry">
            <img src="/assets/images/benzema.png" alt="">
            <p id="resultname">BENZEMA</p>
            <p id = "resultvalue">{{resultado5}}</p>
            
        </div>
    </div>
</div>
