<div>
    <h1>Enviar mensaje al servidor cifrado con la clave pública del servidor</h1>
    <input type="text" id="message" name="message" #message placeholder="Mensaje">
    <button type="button" (click)="clickEncrypt(message.value)">Enviar</button>
</div>
<div>
    <h1>Pedir al servidor que firme este texto con la clave privada del servidor</h1>
    <input type="text" id="text" name="text" #text placeholder="texto">
    <button type="button" (click)="askRSASignedMsg(text.value)">Enviar</button>
</div>
<div>
    <h1>Firma ciega</h1>
    <input type="text" id="texto" name="texto" #texto placeholder="texto">
    <button type="button" (click)="askRSASignedBlindedMsg(texto.value)">Enviar</button>
</div>
<p>Shamir's secret sharing partes</p>
<button type="button" (click)="partsClick()">Partes</button>
<div ng-init="parte0=Parte 1: 'parte0'">
    Parte 1: {{parte0}}
</div>
<div ng-init="parte1='parte1'">
    Parte 2:  {{parte1}}
</div>
<div ng-init="parte2='parte2'">
     Parte 3: {{parte2}}
</div>
<div>
    <h1>Introducir las partes para revelar el secreto</h1>
    <input type="text" id="part1" name="part1" #part1 placeholder="parte1">
    <input type="text" id="part2" name="part2" #part2 placeholder="parte2">
   <button type="button" (click)="joinParts(part1.value, part2.value)">Revelar</button>
</div>
<div ng-init="recovered='recovered'">
    Secreto: {{recovered}}
</div>